<h1 class="text-center">
    <b>{{ message }}</b>
</h1>

<div class="text-center container">
        <div class="bg-danger" style="padding:20px;">
            <h1 class="text-success"><strong>215 - Bad Authentication Data</strong></h1>
            <br/>
            <h2 class="text-info">The data you requested could not be found.</h2>
            <br/>
            <h3 class="text-danger">
                <span class="glyphicon glyphicon-remove"></span>
                The Email ID and Password Combination is Wrong.<br/><br/>
                <a href="/#/upload"><button class="btn btn-link"><h4>Please try again.</h4></button></a>
            </h3>
        </div>
</div>