<h1 class="text-center">
    <b>{{ message }}</b>
</h1>
<div class="container">
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th class="text-center">SUBJECT NAME</th>
            <th class="text-center">CONTENT</th>
            <th class="text-center">UPLOADED DATE</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>System Programming and Compiler Construction</td>
            <td id="SPCC">

            </td>
            <td id="SPCC-date"></td>
        </tr>
        <tr>
            <td>Software Engineering</td>
            <td id="SE">

            </td>
            <td id="SE-date"></td>
        </tr>
        <tr>
            <td>Distributed Databases</td>
            <td id="DD">

            </td>
            <td id="DD-date"></td>
        </tr>
        <tr>
            <td>Mobile Communication and Computing</td>
            <td id="MCAC">

            </td>
            <td id="MCAC-date"></td>
        </tr>
        <tr>
            <td>Elective-I</td>
            <td id="E1">

            </td>
            <td id="E1-date"></td>
        </tr>
        <tr>
            <td>Network Programming Laboratory</td>
            <td id="NPL">

            </td>
            <td id="NPL-date"></td>
        </tr>
    </tbody>
</table>
</div>